{% extends 'padrao.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if produto.id %}
    <h1 class="mt-2">Alterar Produto</h1>
    {% else %}
    <h1 class="mt-2">Novo Produto</h1>
    {% endif %}
    <hr class="mt-0 mb-4">

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" title="Salvar" alt="Salvar" accesskey="S" class="btn btn-success"><span class="accessKey">S</span>alvar</button>
        {% if produto %}
        <a href="{% url 'deletar_produto' produto.id %}" title="Deletar" alt="Deletar" accesskey="L" class="btn btn-danger">De<span class="accessKey">l</span>etar</a>
        {% endif %}
        <a href="{% url 'listar_produtos' %}" title="Voltar" alt="Voltar" accesskey="V" class="btn btn-second float-right"><span class="accessKey">V</span>oltar</a>
    </form>
{% endblock %}